<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="MachineId" value="Machine01"/>
    <add key="ResultsPath" value="c:\nanopath\data"/>
    <add key="PeakShiftMinimum" value="1"/>
    <add key="LastSettingsFile" value=""/>
    <add key="StageLoadPositionMm" value="150"/>
    <add key="StageSpeedMmSec" value="80"/>
    <add key="SpectrometerSerialNo" value="00642109"/>
  </appSettings>
</configuration>
